/*Google Fonts - Cherry Bomb One and Nunito Sans*/
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*CSS variables*/
:root{
    --primary-font: "Nunito Sans", sans-serif;
    --secondary-font: "Cherry Bomb One", sans-serif;
    --background-color: #60435F; /*english violet*/
    --primary-color: #D67AB1; /*sky magenta*/
    --secondary-color: #23B5DE; /*pacific cyan*/
    --primary-highlight-color: #E2A3CF; /*plum (web)*/
    --secondary-highlight-color: #A8DCD9; /*tiffany blue*/
}

/*test styles to check everything works properly*/
body {
    font-family: var(--primary-font);
}

h1 {
    font-family: var(--secondary-font);
    color: var(--primary-color)
}